compile = "'PATH_TO_SCRIPTS/run.sh' compile 'BUILD_PATH' 'SOURCE_DIR'"
run = "'PATH_TO_SCRIPTS/run.sh' run 'BUILD_PATH'"

[nix]
channel = "stable-22_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".ccls-cache"]

[languages]

[languages.cpp]
pattern = "**/*.{cpp,h,hpp}"

[languages.cpp.languageServer]
start = "ccls"
